
@{
    ViewBag.Title = "BadWord";
}

<h2>BadWord</h2>

<div class="row">
    <div style="text-align:center;">
        <a href="#" class="squarelink">
            <div class="square2">
                <br /><br />
                <p style="font-weight:bold; font-size:x-large; font-family: 'Josefin Sans', sans-serif;">
                    <img src="http://www.robertchadzynski.pl/wp-content/uploads/2014/09/kultura-sie-liczy-530x390.jpg" style="height:250px;" />
                </p>
                <br />
                <p style="font-style:italic; font-size:large; font-family: 'Josefin Sans', sans-serif;">
                    Użyłeś brzydkiego słowa!(@ViewBag.badWord)
            </p>
        </div>
    </a>
</div>
</div>